<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores actividades</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Actividades con Distintivo de Excelencia</h1>
    </header>

    <div class="container">
        {% if activities %}
            <h2>Actividades que cumplen con los estándares de calidad</h2>
            <ul>
                {% for activity in activities %}
                    <li>
                        <span><em>Nombre:</em> <strong>{{ activity.name }}</strong></span>
                        <span><em>Descripción:</em> {{ activity.description }}</span>
                        <span><em>Ciudad:</em> {{ activity.city }}</span>
                        <span><em>Precio:</em> {{ activity.price }} €</span>
                        <span><em>Recomendación:</em>{{ activity.recommendation_rate }}%</span>
                        <span><em>Excelencia:</em><strong>{{ activity.has_badge_excellence|yesno:"Sí,No" }}</strong></span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron resultados.</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn-home">Volver a Inicio</a>
    </div>
</body>
</html>
