<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Población de Base de Datos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1>Base de Datos Poblada</h1>
    </header>

    <div class="container">
        <ul class="uk-list uk-list-bullet">
            <li class="highlight-text"><strong>{{ loaded_cities }}</strong></li>
            <li class="highlight-text"><strong>{{ loaded_activities }}</strong></li>
        </ul>
        <a href="{% url 'home' %}" class="btn-home">Volver a Inicio</a>
    </div>
</body>
</html>
