<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar actividades</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Busca actividades por duración</h1>
    </header>

    <div class="container">
        <form id="form" method="post" action="">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Buscar</button>
        </form>

        <div class="results">
            {% if activities %}
                <h2>Actividades que duran menos de {{ hours }} horas y {{ minutes }} minutos:</h2>
                <ul>
                    {% for activity in activities %}
                        <li>
                            <span><em>Nombre:</em> <strong>{{ activity.name }}</strong></span>
                            <span><em>Descripción:</em> {{ activity.description }}</span>
                            <span><em>Ciudad:</em> {{ activity.city }}</span>
                            <span><em>Precio:</em> <strong>{{ activity.price }} €</strong></span>
                            <span><em>Duración:</em> <strong>{{ activity.duration }} minutos</strong></span>
                            <span><em>Recomendación:</em> <strong>{{ activity.recommendation_rate }}%</strong></span>
                            <span><em>Excelencia:</em> {{ activity.has_badge_excellence|yesno:"Sí,No" }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se encontraron resultados.</p>
            {% endif %}
            <a href="{% url 'home' %}" class="btn-home">Volver a Inicio</a>
        </div>
    </div>
</body>
</html>
